# Laravel
/vendor
/node_modules
/public/storage
/public/hot
/public/build
/storage/*.key
/storage/pail
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
.env
.env.*
.phpunit.cache
.phpunit.result.cache

# Editor & Debug files
/.idea
/.vscode
/.zed
/.nova
/.fleet
.phpactor.json
npm-debug.log
yarn-error.log
.DS_Store
*.log

# Homestead
Homestead.json
Homestead.yaml

# Docker (optional overrides)
docker-compose.override.yml

# Auth-related
/auth.json
